/* #canvas {
    width: calc(9*24) ;
} */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-content: ce    nter; */
}

#restart {
    margin-top: 10px;
    display: none;
    color: black;
    font-weight: bolder;
    letter-spacing: 2px;
    border: 1px solid #dddada;
    border-radius: 2px;
    padding: 0.2rem;
    cursor: pointer;
    background-color: #dddada;
}